* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Alexandria', sans-serif;
}

ol,
ul,
menu {
    list-style: none;
}

body {
    background-color: #eeeeee;
}

.main-header {
    background-color: white;
    font-size: 36px;
    font-weight: 600;
    padding: 10px 40px;
}

main {
    padding: 50px 0;
}

.container {
    max-width: 750px;
    margin: 0 auto;
}

.card {
    background-color: white;
    border-radius: 7px;
}

.card-header {
    border-bottom: 3px solid #eeeeee;
    padding-top: 25px;
    padding-bottom: 15px;
    display: flex;
    gap: 15px;
}

.card-body {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-body ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-header,
.card-body {
    padding-left: 50px;
    padding-right: 50px;
}

.list-item {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

#btn,
#txt{
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#btn{
    background-color: rgb(220, 24, 220);
    color: white;
}

#txt{
    background-color: rgb(245, 245, 241);
}

.doneTask{
    text-decoration: line-through;
}